<div class="header">All Topics</div>

<a class="topic-item" href="/topic/new">
    <div class="new-topic">
        <div class="add-topic">
            <span class="material-icons">
                add_box
            </span>
        </div>
    </div>
</a>

{{#each allTopics}}
<a href="/topic/{{_id}}">
    <div class="topic-item">
        <div class="title">Posts: <span class="post-number">0</span></div>
        {{postCounter}}
        <div class="title"></div>
        {{title}}
        <div class="title">Date Created</div>
        {{dateCreated}}
    </div>
</a>
{{/each}}