<h2>All Topics</h2>

<a href="/topic/new">
    <button>
        Submit New Topic
    </button>
</a>

{{#each allTopics}}
<a href="/topic/{{_id}}">
    <div class="topic-item">
        <div class="title">Posts: <span class="post-number">0</span></div>
        {{postCounter}}
        <div class="title"></div>
        {{title}}
        <div class="title">Date Created</div>
        {{dateCreated}}
    </div>
</a>
{{/each}}