<h2>Create New Topic</h2>

<form action="/topic" class="create-topic-form" method="POST">
  <label>Title</label>
  <input type='text' name='title' placeholder="Put Topic Title Here" />

  <label>Description</label>
  <textarea type="text" rows="3" columns="30" name="description" placeholder="Input your Topic Description Here"
    required></textarea>

  <label>Date</label>
  <input type="date" name="dateCreated" required />

  <input type="submit" value="Submit Topic" />
</form>
<form action="/topic" method="GET">
  <input type="submit" value="Cancel">
</form>