<h2>Update Topic</h2>

<form action="/topic/{{singleTopic._id}}?_method=PUT" method="POST" class="topic-edit-form" method="POST">

  <label>Title</label>
  <input type='text' name='title' value='{{singleTopic.title}}' required />

  <label>Description</label>
  <textarea type="text" rows="3" columns="30" name="description" required>
  {{singleTopic.description}}
  </textarea>

  <input type="submit" value="Update Topic" />
</form>
<form action="/topic/{{singleTopic._id}}" method="GET">
  <input type="submit" value="Cancel">
</form>