<h2>Create Comment</h2>

<form action="/comment" class="create-comment-form" method="POST">
  <label>Content</label>
  <textarea type="text" rows="15" columns="8" name="content" placeholder="Comment Here"
    required></textarea>

  <label>Date</label>
  <input type="date" name="date" required />

  <input type="submit" value="Submit Comment" />
</form>
<form action="/comment" method="GET">
  <input type="submit" value="Cancel">
</form>