<h2>Create New Post</h2>

<form action="/post" class="create-post-form" method="POST">
  <label>Image URL</label>
    <input type="text" name="image" />

  <label>Content</label>
  <textarea type="text" rows="15" columns="30" name="content" placeholder="Input your Post Content Here"
    required></textarea>

  <label>Date</label>
  <input type="date" name="date" required />

  <input type="submit" value="Submit Post" />
</form>
<form action="/post" method="GET">
  <input type="submit" value="Cancel">
</form>